.ccls
.ccls-cache
.vscode
.vim
__pycache__

bowman_de10_lite/hardware/quartus/.qsys_system
bowman_de10_lite/hardware/quartus/.qsys_edit
bowman_de10_lite/hardware/quartus/db
bowman_de10_lite/hardware/quartus/incremental_db
bowman_de10_lite/hardware/quartus/*.done
bowman_de10_lite/hardware/quartus/*.rpt
bowman_de10_lite/hardware/quartus/*.smsg
bowman_de10_lite/hardware/quartus/*.summary
bowman_de10_lite/hardware/quartus/*.jdi
bowman_de10_lite/hardware/quartus/*.pin
bowman_de10_lite/hardware/quartus/*.qws
bowman_de10_lite/hardware/quartus/*.sld
bowman_de10_lite/hardware/quartus/*.sof
bowman_de10_lite/hardware/quartus/*.fit
bowman_de10_lite/hardware/quartus/*.bak
bowman_de10_lite/hardware/quartus/*.sopcinfo

bowman_de10_lite/software/workspace

bowman_de10_lite/software/bowman_nios2/.cproject
bowman_de10_lite/software/bowman_nios2/.project
bowman_de10_lite/software/bowman_nios2/.settings
bowman_de10_lite/software/bowman_nios2/*.elf
bowman_de10_lite/software/bowman_nios2/obj
bowman_de10_lite/software/bowman_nios2/*.map
bowman_de10_lite/software/bowman_nios2/*.objdump
bowman_de10_lite/software/bowman_nios2/Makefile
bowman_de10_lite/software/bowman_nios2/create-this-app
bowman_de10_lite/software/bowman_nios2/readme.txt

bowman_de10_lite/software/bowman_nios2_bsp/.cproject
bowman_de10_lite/software/bowman_nios2_bsp/.project
bowman_de10_lite/software/bowman_nios2_bsp/.settings
bowman_de10_lite/software/bowman_nios2_bsp/obj
bowman_de10_lite/software/bowman_nios2_bsp/drivers
bowman_de10_lite/software/bowman_nios2_bsp/HAL
bowman_de10_lite/software/bowman_nios2_bsp/alt_sys_init.c
bowman_de10_lite/software/bowman_nios2_bsp/create-this-bsp
bowman_de10_lite/software/bowman_nios2_bsp/libhal_bsp.a
bowman_de10_lite/software/bowman_nios2_bsp/linker.h
bowman_de10_lite/software/bowman_nios2_bsp/linker.x
bowman_de10_lite/software/bowman_nios2_bsp/Makefile
bowman_de10_lite/software/bowman_nios2_bsp/mem_init.mk
bowman_de10_lite/software/bowman_nios2_bsp/memory.gdb
bowman_de10_lite/software/bowman_nios2_bsp/public.mk
bowman_de10_lite/software/bowman_nios2_bsp/settings.bsp
bowman_de10_lite/software/bowman_nios2_bsp/summary.html
bowman_de10_lite/software/bowman_nios2_bsp/system.h


*.sopcinfo

.qsys_system/
.qsys_edit/
db/
incremental_db/
*.done
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.qws
*.sld
*.fit
*.bak
*.sopcinfo

.qsys_edit
*.sopcinfo

.cproject
.project
.settings
obj/
*.map
*.objdump
Makefile
readme.txt

.cproject/
.project/
.settings/
obj/
drivers/
HAL/
alt_sys_init.c
libhal_bsp.a
linker.h
linker.x
Makefile
mem_init.mk
bowman_de10_lite/software/bowman_nios2_bsp/memory.gdb
public.mk
settings.bsp
summary.html
system.h

workspace/
*.vhd
*.debuginfo
*.sv
*.gdb
*.cmp
*.html
*.sdc
*.mif
*.htm
*_bsp

bow/qsys_system/bowman
bow/quartus/software/Game_V4/.force_relink
create-this-app
